preprocessing:
        cutadapt_pe:
            cut_param_string:
                value: "-a AGATCGGAAGAGCACACGTCTGAACTCCAGTCA -A AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
        trimmomatic_pe:
            trim_param_string:
                value: "LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15"
variant_calling:
    breseq:
        breseq_param_string:
            value: " "


